body {
  background: green;
}

a {
  -webkit-transition: -webkit-transform 22s;
     -moz-transition: -moz-transform 22s;
       -o-transition: -o-transform 22s;
          transition: transform 22s;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-shadow: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

div.main {
  width: 500px;
  height: auto;
  border: 1px solid red;
  margin: 0 auto;
}

h2 {
  color: red;
}
