/* glue: 0.9.4 hash: d1740e6dbf */
        .sprite-img-standby,
.sprite-img-rename_edit,
.sprite-img-pencil,
.sprite-img-pen_red,
.sprite-img-pen_blue,
.sprite-img-pen,
.sprite-img-homework,
.sprite-img-edit_delete,
.sprite-img-chat {
            background-image: url('img.png');
            background-repeat: no-repeat;
        }
        
        .sprite-img-standby {
            background-position: 0 0;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-rename_edit {
            background-position: -128px 0;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-pencil {
            background-position: 0 -128px;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-pen_red {
            background-position: -128px -128px;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-pen_blue {
            background-position: -256px 0;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-pen {
            background-position: -256px -128px;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-homework {
            background-position: 0 -256px;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-edit_delete {
            background-position: -128px -256px;
            width: 128px;
            height: 128px;
        }
        
        .sprite-img-chat {
            background-position: -256px -256px;
            width: 128px;
            height: 128px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-img-standby,
    .sprite-img-rename_edit,
    .sprite-img-pencil,
    .sprite-img-pen_red,
    .sprite-img-pen_blue,
    .sprite-img-pen,
    .sprite-img-homework,
    .sprite-img-edit_delete,
    .sprite-img-chat {
                background-image: url('img.png');
                -webkit-background-size: 384px 384px;
                -moz-background-size: 384px 384px;
                background-size: 384px 384px;
            }
        }
        